body {
     background: url('https://github.com/songjunghyun/songjunghyun.github.com/blob/master/Claude_Monet_037.jpg?raw=true') no-repeat center center fixed;
     background-size:100% 100%;
 }

.container {
    padding: 80px 120px;
}
.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
}

<img src="parasol.jpg" class="img-circle person" alt="parasol">
<img src="sunrise.jpg" class="img-circle person" alt="sunrise">
<img src="water-lily.jpg" class="img-circle person" alt="water-lily">
