body {
     background: url('https://github.com/songjunghyun/songjunghyun.github.com/blob/master/Claude_Monet_037.jpg?raw=true') no-repeat center center fixed;
     background-size:100% 100%;
 }

.container {
    padding: 80px 120px;
}
